.container {
    background: white;
    padding: 4px;
}

.body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 100%;
    background-color: white;
    color: black;
    padding: 2px;
    margin: 1px;
    overflow: hidden;

    border: 1px black solid;
}